<table width="" style="color:rgb(0,0,0);margin-top:30px;padding:30px 30px 30px 0px;font-stretch:normal;font-size:11px;font-family:Helvetica,Arial,sans-serif;border-top-width:1px;border-top-style:solid;border-top-color:rgb(216,216,216);font-weight:bold">
  <tbody>
    <tr>
      <td>
      <a href="http://g2idev.com/" title="Jetruby agency" style="display:inline-block;padding:5px 20px 5px 5px;margin-right:10px" target="_blank">
        <img src="http://g2i.github.io/email/logo.png" alt="The g2i logo." style="display:inline-block;max-width:100%;max-height:46px" class="CToWUd">
      </a>
      &nbsp;
      <div style="display:inline-block;vertical-align:top;">
        <div style="display:inline-block;margin-bottom:5px;padding-left:5px;vertical-align:top;padding-top:10px;min-width:200px;">
          <img src="http://g2i.github.io/email/tag.png" alt="A decorative rectangle." style="float:left;margin:3px 0px 0px" class="CToWUd">
          <div style="margin-left:20px">
            <span style="text-transform:uppercase;display:block;margin:0px 0px 6px;font-family:sans-serif;font-size:14px;color:rgb(34,31,31)">
              {{fullName}}
            </span>
            <span style="text-transform:uppercase;color:#E23E2E;">
              {{position}}
            </span>
          </div>
        </div>
        <div style="padding-left:5px;display:inline-block;vertical-align:top;padding-top:10px;min-width:180px;">
          <img src="http://g2i.github.io/email/tag.png" alt="A decorative rectangle." style="float:left;margin:3px 0px 0px" class="CToWUd">
          <div style="margin-left:20px">
            <span style="display:block;margin:0px 0px 6px">
              <span style="display:inline-block;color:rgb(51,42,51);word-break:break-all">
                P.&nbsp;
                <a href="tel:{{telephoneNumber}}" style="color:rgb(17,85,204)" target="_blank">
                  {{telephoneNumber}}
                </a>
              </span>
            </span>
            <span style="display:inline-block;color:rgb(51,42,51);word-break:break-all">
              W.&nbsp;
              <a title="Blog" href="http://g2idev.com/about" style="color:rgb(138,137,137);font-weight:normal;word-break:break-all" target="_blank">
                g2idev.com/about
              </a>
            </span>
          </div>
        </div>
      </div>
      </td>
    </tr>
  </tbody>
</table>
